<li>
	{{name}}

	<button class="devoured" data-id="{{id}}" data-newDevoured=""="{{devoured}}">
		{{#if devoured}}EAT ME!{{else}}WASN'T THAT YUMMY!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>